* {
    margin: 0;
}

@font-face {

    font-family: myFirstFont;

    src: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/font/TESLA.ttf);

    font-weight: bold;

}

#navbar {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(-45deg, #272524, #fbfbfb, #272524, #fbfbfb);

    animation: gradient 15s ease infinite;

    height: 20px;

    padding: 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#logo-1 {
    width: 50px;
}

#logo-2 {
    width: 200px; 
}

#logo-3 {
    width: 70px;
}

#home h1 {
    text-align: center;
    font-size: 100px;
    font-family: myFirstFont;
}

#home h2 {
    text-align: center;
    font-size: 40px;
    font-family: myFirstFont;
}

#elon-musk {
    width: calc 100vw;
    height: 71vh;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/elon-musk.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#first-image {
    width: calc 100vw;
    height: 616px;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/Tesla-car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

#second-image {
    width: calc 100vw;
    height: 616px;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/solar-powerwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

#second-image h2 {
    font-size: 30px;
}

#third-image {
    width: calc 100vw;
    height: 575px;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/spacex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

#fourth-image {
    width: calc 100vw;
    height: 600px;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/the-boring-company-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}



