* {
    margin: 0;
}

@font-face {

    font-family: myFirstFont;

    src: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/font/TESLA.ttf);

    font-weight: bold;

}

#container {
    position: fixed;
}

#navbar {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 20px;

    padding: 20px;
}

#elon-musk {
    width: calc 100vw;
    height: 100vh;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/elon-musk.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 70px;
    font-family: myFirstFont;
    color: aliceblue;
}
#elon-musk h1 {
    padding-top: 200px;
}

#elon-musk h2 {
    text-align: center;
    font-size: 40px;
    font-family: myFirstFont;
    color: aliceblue;
}

#first-image {
    width: calc 100vw;
    height: 100vh;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/Tesla-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 30px;
    scroll-snap-align: start;
    color: aliceblue;
}

#first-image h1 {
    padding-top: 100px;
}

#second-image {
    width: calc 100vw;
    height: 100vh;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/solar-powerwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

#second-image h1 {
    padding-top: 80px;
}

#third-image {
    width: calc 100vw;
    height: 100vh;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/spacex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

#third-image {
    padding-top: 80px;
}

#fourth-image {
    width: calc 100vw;
    height: 100vh;
    background-image: url(/week-1-Pump-that-HTML-knowledge/workshop-1-elon/images/the-boring-company-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFirstFont;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

#fourth-image h1 {
    padding-top: 80px;
}


